.footer__column-links {
  padding: 0 0 16px;
  margin: 0;
  line-height: 18px;
  font-size: 18px;
  font-weight: normal;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
